.docs
  padding: 60px 0
  &__title
    margin-bottom: 30px
  &__wrapper
  &-item
  &-item__image
    margin-bottom: 30px
    img
      border-radius: 23px
      height: 235px
      object-fit: cover
  &-item__title
    font-size: 20px
    line-height: 130%
  &-item__text
    font-weight: 400
    font-size: 14px
    line-height: 146.8%
    color: #7B7B7B
    margin-top: 11px
