.form-section
  padding: 60px 0
  &__form
    background-color: $main-color
    border-radius: 30px
    padding: 48px 46px
    color: #fff
    background-repeat: no-repeat
    background-size: contain
    display: flex
    flex-direction: column
    justify-content: space-between
  &__image
    border-radius: 20px
    overflow: hidden
    img
      width: 100%
