.prepair
  padding: 60px 0
  &__image
    border-radius: 30px
    overflow: hidden

  &__title
    margin-bottom: 30px
  &-list
  &-list__item
    max-width: 80%
    font-weight: 400
    font-size: 18px
    line-height: 146.8%
    display: flex
    align-items: center
    margin-bottom: 36px
    &::before
      content: ''
      flex: 0 0 auto
      display: block
      width: 52px
      height: 52px
      // margin-top: 5px
      margin-right: 23px

      background-repeat: no-repeat
      background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='52' height='52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='52' height='52' rx='16' fill='%23F8F8F8'/%3E%3Cpath d='M36 18 23 32l-7-8' stroke='%232C6762' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
  &__btn
    margin-top: 30px
@media screen and ( max-width: 992px )
  .prepair
    &-list__item
      align-items: flex-start
      font-size: 16px
      margin-bottom: 20px
      &::before
        background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='23' height='23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='23' height='23' rx='11.5' fill='%232C6762'/%3E%3Cpath d='m15.923 7.962-5.75 6.192-3.096-3.538' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
        width: 23px
        height: 23px
        margin-top: 5px
        margin-right: 15px
@media screen and ( max-width: 768px )
  .prepair__image img
    max-height: 400px
    width: 100%
    object-position: top
@media screen and ( max-width: 440px )
  .prepair__image img
    max-height: 275px
