<div class="container  mb-4">
  <ul class="about-nav ">
    <li class="about-nav__item"><a href="#" class="active">Основные сведения</a></li>
    <li class="about-nav__item"><a href="#">Структура и органы управления образовательной организацией</a></li>
    <li class="about-nav__item"><a href="#">Документы</a></li>
    <li class="about-nav__item"><a href="#">Образование</a></li>
    <li class="about-nav__item"><a href="#">Образовательные стандарты
    <li class="about-nav__item"><a href="#">Руководство. Педагогический (научно-педагогический) состав</a></li>
    <li class="about-nav__item"><a href="#">Материально-техническое обеспечение и оснащенность образовательного
        процесса</a></li>
    <li class="about-nav__item"><a href="#">Стипендии и иные виды материальной поддержки</a></li>
    <li class="about-nav__item"><a href="#">Платные образовательные услуги</a></li>
    <li class="about-nav__item"><a href="#">Финансово-хозяйственная деятельность</a></li>
    <li class="about-nav__item"><a href="#">Вакантные места для приема (перевода)</a></li>
  </ul>
</div>