<section class="certificates">
	<div class="container">
		<h2 class="certificates__title section-title">Образцы выдаваемых документов</h2>
		<div class="certificates__wrapper row" data-aos="zoom-in">
			<a href="./img/sertificates/4.png" class="certificates-item mb-4 col-md-4 col-6" data-fancybox="gallery">
				<img src="./img/sertificates/4.png" alt="" />
			</a>
			<a href="./img/sertificates/5.png" class="certificates-item mb-4 col-md-4 col-6" data-fancybox="gallery">
				<img src="./img/sertificates/5.png" alt="" />
			</a>
			<a href="./img/sertificates/6.png" class="certificates-item mb-4 col-md-4 col-6" data-fancybox="gallery">
				<img src="./img/sertificates/6.png" alt="" />
			</a>
			<a href="./img/sertificates/7.png" class="certificates-item mb-4 col-md-4 col-6" data-fancybox="gallery">
				<img src="./img/sertificates/7.png" alt="" />
			</a>
		</div>
	</div>
</section>
