<footer class="footer">
	<div class="container">
		<div class="footer__wrapper row align-items-start">
			@@include('../../components/bem-blocks/_logo.html', { "class":"footer__logo col-md-3" })
			<div class="footer__col col-md-3">
				<p class="footer__text">Наш университете зарегистрирован на портале поставщиков</p>
				<p class="footer__text">Образовательная лицензия № 040340 от 20.09.2019</p>
				<a href="#" class="footer__btn">Проверить лицензию</a>
			</div>
			<div class="col-md-6">
				<ul class="footer-menu">
					<li class="footer-menu__item">
						<a href="#">Информация</a>
						<ul class="footer-submenu">
							<li class="footer-menu__item"><a href="#">НМО</a></li>
							<li class="footer-menu__item"><a href="#">Слушателям</a></li>
							<li class="footer-menu__item"><a href="#">Организациям</a></li>
							<li class="footer-menu__item"><a href="#">Правовые документы</a></li>
						</ul>
					</li>
					<li class="footer-menu__item">
						<a href="#">Направления</a>
						<ul class="footer-submenu">
							<li class="footer-menu__item"><a href="#">Медицина</a></li>
							<li class="footer-menu__item"><a href="#">Строительство</a></li>
						</ul>
					</li>
					<li class="footer-menu__item">
						<a href="#">О нас</a>
						<ul class="footer-submenu">
							<li class="footer-menu__item"><a href="#">Об университете</a></li>
							<li class="footer-menu__item"><a href="#">Реестр ФРДО</a></li>
							<li class="footer-menu__item"><a href="#">Отзывы</a></li>
							<li class="footer-menu__item"><a href="#">Новости</a></li>
							<li class="footer-menu__item"><a href="#">Контакты</a></li>
						</ul>
					</li>
					<li class="footer-menu__item">
						<a href="#">Контакты</a>
						<ul class="footer-submenu">
							<li class="footer-menu__item">
								г. Москва, 1-й Люберецкий <br />
								проезд, дом 2
							</li>
							<li class="footer-menu__item"><a href="#">info@uppo.msk.ru</a></li>
							<li class="footer-menu__item"><a href="#">+7 (495) 021-12-00</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer-bottom row">
			<div class="col-md-6"><div class="footer__copyrights">©Все права защищены, 2023</div></div>
			<div class="col-md-6"><a href="#" class="footer-privacy">Политика конфиденциальности</a></div>
		</div>
	</div>
</footer>
