<footer class="footer">
	<div class="container">
		<div class="footer__wrapper row align-items-start">
			<div class="col-lg-3 mb-3 mb-lg-0">@@include('../../components/bem-blocks/_logo.html', { "class":"footer__logo " })</div>
			<div class="col-lg-3 mb-3 mb-lg-0">
				<div class="footer__col">
					<p class="footer__text">Наш университете зарегистрирован на портале поставщиков</p>
					<p class="footer__text">Образовательная лицензия № 040340 от 20.09.2019</p>
					<a href="#" class="footer__btn">Проверить лицензию</a>
				</div>
			</div>
			<div class="col-lg-6 mb-3 mb-lg-0">
				<ul class="footer-menu">
					<li class="footer-menu__item">
						<a href="#">Информация</a>
						<ul class="footer-submenu">
							<li class="footer-menu__item"><a href="#">НМО</a></li>
							<li class="footer-menu__item"><a href="#">Слушателям</a></li>
							<li class="footer-menu__item"><a href="#">Организациям</a></li>
							<li class="footer-menu__item"><a href="#">Правовые документы</a></li>
						</ul>
					</li>
					<li class="footer-menu__item">
						<a href="#">Направления</a>
						<ul class="footer-submenu">
							<li class="footer-menu__item"><a href="#">Медицина</a></li>
							<li class="footer-menu__item"><a href="#">Строительство</a></li>
						</ul>
					</li>
					<li class="footer-menu__item">
						<a href="#">О нас</a>
						<ul class="footer-submenu">
							<li class="footer-menu__item"><a href="#">Об университете</a></li>
							<li class="footer-menu__item"><a href="#">Реестр ФРДО</a></li>
							<li class="footer-menu__item"><a href="#">Отзывы</a></li>
							<li class="footer-menu__item"><a href="#">Новости</a></li>
							<li class="footer-menu__item"><a href="#">Контакты</a></li>
						</ul>
					</li>
					<li class="footer-menu__item">
						<a href="#">Контакты</a>
						<ul class="footer-submenu">
							<li class="footer-menu__item">
								г. Москва, 1-й Люберецкий <br />
								проезд, дом 2
							</li>
							<li class="footer-menu__item"><a href="#">info@uppo.msk.ru</a></li>
							<li class="footer-menu__item"><a href="#">+7 (495) 021-12-00</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer-bottom row">
			<div class="col-md-6"><div class="footer__copyrights">©Все права защищены, 2023</div></div>
			<div class="col-md-6"><a href="#" class="footer-privacy">Политика конфиденциальности</a></div>
		</div>
	</div>
</footer>
<div id="search" class="search">
	<div class="search__wrapper">
		<div class="container">
			<button class="search-close">
				<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M20.3253 1.75L18.5789 0L10.346 8.25L2.11307 0L0.366699 1.75L8.59961 10L0.366699 18.25L2.11307 20L10.346 11.75L18.5789 20L20.3253 18.25L12.0924 10L20.3253 1.75Z"
						fill="white"
					/>
				</svg>
			</button>
			<form class="search-form">
				<input type="search" class="search-form__input" placeholder="Например: Стоматология" />
				<button class="search-form__btn btn btn--colored">Поиск</button>
			</form>
			<div class="search-result">
				<div class="search-result__count">Найдено 2 резульата</div>
				<ul class="search-result-list">
					<li class="search-result-list__item">
						<a href="#">Курс стоматология</a>
					</li>
					<li class="search-result-list__item">
						<a href="#">Курс Детская стоматология</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="popup" id="popup">
	<form class="form">
		<div class="form__title">Оставьте заявку</div>
		<div class="form__text">Мы свяжемся с вами в ближайшее рабочее время</div>
		<input type="text" class="form__input" placeholder="ФИО" />
		<input type="tel" class="form__input" placeholder="Номер телефона" />
		<input type="email" class="form__input" placeholder="Email" />

		<button class="form__btn btn btn--colored">Отправить</button>
		<div class="form__notice">Нажимая на кнопку Отправить, я принимаю условия<a href="/privacy-policy/"> политики конфиденциальности</a></div>
	</form>
</div>
