<div class="form-section">
	<div class="container">
		<div class="form-section__wrapper row">
			<div class="col-md-6 order-2 order-md-1" data-aos="fade-right">
				<form class="form-section__form form --svg__form-bg">
					<div class="form__title">Оставьте заявку</div>
					<input type="text" class="form__input" placeholder="ФИО" />
					<input type="tel" class="form__input" placeholder="Номер телефона" />
					<input type="email" class="form__input" placeholder="Email" />
					<textarea class="form__input form__textarea" placeholder="Комментарий"></textarea>
					<label for="" class="form__acceptance">
						<input type="checkbox" class="--svg__checkbox-before" checked />
						<span>Я принимаю условия <a href="#">политики конфиденциальности</a></span>
					</label>
					<button class="form__btn btn">Записаться на курс</button>
				</form>
			</div>
			<div class="col-md-6 mb-4 mb-md-0 order-1 order-md-2" data-aos="fade-left">
				<div class="form-section__image">
					<img src="./img/form.jpg" alt="" />
				</div>
			</div>
		</div>
	</div>
</div>
